.container {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

#question {
  font-size: 24px;
  background-color: #a1d7e0;
  font-weight: bold;
  margin-bottom: 20px;
}

#choice button {
  display: block;
  margin: 20px auto;
  border: none;
  background-color: #4CAF50;
  border-radius: 20px;
}

#choice button:hover {
  background-color: #3e8e41;
}

.button {
  border: none;
  background-color: #008CBA;
  color: white;
  padding: 10px 20px;
  width: 200px;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #006c84;
}