  #question {
    font-size: 25px;
    text-align: center;
    background-color: #a1d7e0;
  }

  #choice{
    margin: 40px 0;
  }

  .text-center{
    text-align: center;
  }

  .button {
    display: block;
    margin: 20px auto;
    height: 40px;
    border: 2px solid #DDD;
    border-radius: 8px;
    font-size: 20px;
  }

  .button:hover {
    background-color: burlywood;
    cursor: pointer;
  }